{% extends 'base_generic.html' %}

{% block content %}
    <h1>My Borrowed Book</h1>
    {% if bookinstance_list %}

    <ol>
        {% for bookinst in bookinstance_list %}
        <li >
            <a href="{{ bookinst.book.get_absolute_url }}">{{ bookinst.book.title }} - <span class="{% if bookinst.is_overdue %}text-danger{% endif %}">({{ bookinst.due_back }})</span></a>
        </li>
        {% endfor %}
    </ol>

    {% else %}
    <p>You do not have any Borrowed Book. Please contact to Librarain to get one!</p>
    {% endif %}
{% endblock %}