
body {
    background-color: red;
    color: white;
}

/* Tablet: If the Screen width is not Greater 820px,
Showing Blue
 */
@media screen and (max-width: 820px) {
    body {
        background-color: blue;
    }
}

/* Mobile Phone:If the Screen width is not Greater 425px,
Showing Black */

@media screen and (max-width:500px) {
    body {
        background-color: black;
    }
}
